# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.
#
#Process, "Process Pixels", Process_Pixels
#

Plugins>Thresholding Image Segmentation, "Adaptive Thresholding", AdaptiveThresholding
Plugins>Thresholding Image Segmentation, "Otsu Thesholding", OtsuThresholding
Plugins>Thresholding Image Segmentation, "Maximum Entropy Thresholding", MaximumEntropy
Plugins>Thresholding Image Segmentation, "Seeded Region Growing", SeededRegionGrowing
Plugins>Thresholding Image Segmentation, "Binary Image Porosity", CalculateBinaryImagePorosity